<div class="container">
	<h3><%= @post.title %></h3>
	<p><%= @post.body %></p>

	<form action="/post/<%=@post.id%>/delete" method="post">
	  <input type="submit" name="submit" value="delete">
	</form>
</div>
